.button {

  padding-inline: 35px;
  font-size: 25px;
  color: var(--color-gray-alt);
  background-color: var(--color-dark);
  border-radius: var(--border-radius);
  border: var(--border);
  height: var(--button-height);

  @include desktop {
    height:48px;
    padding-inline: 25px;
    font-size: 22px;
  }
  @include hover {
    color: var(--color-dark);
    background-color: var(--color-accent);
  }
  &--transparent {
    color: var(--color-dark);
    background-color: transparent;
  
  }
  &-accent {
    color: var(--color-dark);
    background-color: var(--color-accent);
    @include hover {
        color: var(--color-accent);
        background-color: var(--color-dark);
    }
  }
}