.puddle-bg {
  background-color: var(--color-accent);
  border-radius: var(--border-radius-small);
  padding-inline: 7px;

  &--light {
    background-color: var(--color-light);
  }
  &--gray {
    background-color: var(--color-gray);
  }
  &--dark {
    color: var(--color-dark);
  }
}